<div class="container text-center">
    <p>
    <%= link_to "Admin", admin_root_path %> <%= " > 
    #{params[:controller].split('/').last.capitalize}" unless 
    params[:controller].split('/').last.eql?("admin") %>
    </p>

    <div class="btn-group">
        <%= render "admin/link", resource: Post %>
        <%= render "admin/link", resource: Comment %>
        <%= render "admin/link", resource: User %>
    </div>
</div>