<div class="container">
  <h1 class="text-center">Admin Dashboard</h1>
  <%= render "admin/nav_links" %>

  <div class="row mb-4">

    <div class="col-md-6">
      <h5>Filter by year:</h5>
      <div class="btn-group" role="group">
        <%= link_to "Any", admin_posts_path, class: "btn btn-outline-primary #{params[:year].blank? ? 'active' : ''}" %>
        <% (2021..2025).reverse_each do |year| %>
          <%= link_to year, admin_posts_path(year: year), class: "btn btn-outline-primary #{params[:year].to_i == year ? 'active' : ''}" %>
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <h5>Filter by month:</h5>
      <div class="btn-group flex-wrap overflow-auto" role="group" style="max-width:100%;white-space:nowrap;">
        <%= link_to "Any", admin_posts_path(year: params[:year]), class: "btn btn-outline-primary #{params[:month].blank? ? 'active' : ''}" %>
        <% display_year = params[:year].present? ? params[:year].to_i : Date.today.year %>
        <% (1..12).each do |month| %>
          <% month_str = "%04d-%02d" % [display_year, month] %>
          <%= link_to Date::MONTHNAMES[month], admin_posts_path(year: display_year, month: month_str), class: "btn btn-outline-primary #{params[:month] == month_str ? 'active' : ''}" %>
        <% end %>
      </div>
    </div>
    
  </div>

  <h4 class="mb-3">
    Posts for 
    <% if params[:month].present? && params[:month] =~ /^\d{4}-\d{2}$/ %>
      <%= Date.strptime(params[:month], "%Y-%m").strftime("%B %Y") %>
    <% elsif params[:year].present? %>
      <%= params[:year] %>
    <% else %>
      All Time
    <% end %>
  </h4>

  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col"><%= sortable_column("id", "ID") %></th>
        <th scope="col"><%= sortable_column("title", "Post") %></th>
        <th scope="col"><%= sortable_column("user_name", "Author") %></th>
        <th scope="col">Comments</th>
        <th scope="col"><%= sortable_column("views", "Views") %></th>
        <th scope="col"><%= sortable_column("likes_count", "Likes") %></th>
        <th scope="col"><%= sortable_column("created_at", "Post date") %></th>
        <th scope="col"><%= sortable_column("feature", "Featured") %></th>
        <th scope="col"><%= sortable_column("active", "Active") %></th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <th scope="row"><%= post.id %></th>
          <td><%= post.title.truncate(15) %></td>
          <% if post.user.present? %>
            <td><%= post.user.name %></td>
          <% elsif post.customer.present? %>
            <td><%= post.customer.name %></td>
          <% end %>
          <td><%= pluralize(post.comments.count, "Comment") %></td>
          <td><%= pluralize(post.views, "View") %></td>
          <td><%= pluralize(post.likes_count, "Like") %></td>
          <td><%= post.created_at.strftime("%B %d, %Y") %></td>
          <td><%= post.feature ? "Yes" : "No" %></td>
          <td><%= post.active ? "Yes" : "No" %></td>
          <td>
            <%= link_to "View", admin_post_path(post), class: "btn btn-primary btn-sm" %>
            <%= button_to "Delete", admin_post_path(post), method: :delete, class: "btn btn-danger btn-sm", form: { data: { turbo_confirm: "Are you sure you want to delete this post?" } } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_info(@pagy) %>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
</div> 